---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import StatsOverview from "../components/sections/StatsOverview.astro";
import WhoWeAre from "../components/sections/WhoWeAre.astro";
import Products from "../components/sections/Products.astro";
import FAQ from "../components/sections/FAQ.astro";
import CTA from "../components/sections/CTA.astro";
---

<Layout title="Katalog Produk Aluminium">
  <main class="flex flex-col overflow-hidden">
    <Hero className="py-10 md:py-16" />
    <WhoWeAre className="py-16 md:py-24" />
    <StatsOverview />
    <Products className="py-16 md:py-24" />
    <FAQ className="py-16 md:py-24" />
    <CTA className="py-16 md:py-24" />
  </main>
</Layout>
